body {
	background-image: url('background.png');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2 {
	text-align: center;
	color: #595D4C;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.buttons {
	display: block;
  margin: auto;
}

mark {
	background-color: #656555;
	color: #bdc4a7;
}

img {

width: auto;

height: auto;

max-width: 160px;

padding: 2px;

}

h1 {
	text-align: center;
}
